<h1>Balance Metrics</h1>
<a href="/incoming">Incoming messages</a>

<h3># of successful balance checks: <%= @count_of_successful_messages %><h3>
<h3>By week:</h3>
<ul>
<% @successful_messages_by_week.each_pair do |k,v| %>
  <li><%= "#{k.strftime("%b %d")}: #{v}" %></li>
<% end %>
</ul>

<h3>Traffic sources (# of successful checks per source):</h3>
<ul>
<% @successful_messages_by_source.each do |a| %>
  <li><%= "#{a[0]}: #{a[1]}" %></li>
<% end %>
</ul>

<h3># of errors (ie, ""I'm sorry! We're having trouble...): <%= @count_of_error_messages %><h3>
<h3>By week:</h3>
<ul>
<% @error_messages_by_week.each_pair do |k,v| %>
  <li><%= "#{k.strftime("%b %d")}: #{v}" %></li>
<% end %>
</ul>

<h3>CHARTS!!<h3>
<iframe width="800" height="600" frameborder="0" seamless="seamless" scrolling="no" src="<%= "#{@plot_url}" %>.embed?width=800&height=600"></iframe>